.tab_stripe{
    height:5px;
    position:absolute;
    width:100%;
    left:0;
    top:0;
}

.all_tab{
    background: #337ab7;
}

.notstarted_tab{
    background: #C42C3B;
}

.inprogress_tab{
    background: #FFB161;
}

.completed_tab{
    background: #78D965;
}

.react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 6px 15px;
    margin-right: 4px;
    cursor: pointer;
}

.scrollable {
    max-height: 800px !important;
    margin: 0 auto;
    bottom:0px;
    top:0px;
    overflow:auto
}