progressindicator_wrapper {

}

.square {
  background: white;
  color: black;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}

.square:after {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

.content {
  position: relative;
}
